<h1>Listing services</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Service</th>
    <th>Type</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%=h service.service_id %></td>
    <td><%=h service.service %></td>
    <td><%=h service.type %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service', new_service_path %>