<h1>New housing_poi</h1>

<% form_for(@housing_poi) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :housing_poi_id %><br />
    <%= f.text_field :housing_poi_id %>
  </p>
  <p>
    <%= f.label :housing_id %><br />
    <%= f.text_field :housing_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', housing_pois_path %>