<div class="pagination_bar">
	<div class="pagination_bar_results">
		<p>X <%= t("pagination_bar.results_found") %></p>
	</div>
	<div class="pagination_bar_pages">
		<div class="pagination_bar-next">
			<a href="#" title="<%= t("pagination_bar.page_next") %>">
			  <span><%= t("pagination_bar.page_next") %></span>
      </a>
		</div>
		<p><%= t("pagination_bar.page") %> : n / m</p>
		<div class="pagination_bar-prev">
			<a href="#" title="<%= t("pagination_bar.page_prev") %>">
			  <span><%= t("pagination_bar.page_prev") %></span>
      </a>
		</div>
	</div>
</div>