<h1>Editing dinningroom</h1>

<% form_for(@dinningroom) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :room_id %><br />
    <%= f.text_field :room_id %>
  </p>
  <p>
    <%= f.label :sofa_bed_option %><br />
    <%= f.text_field :sofa_bed_option %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dinningroom %> |
<%= link_to 'Back', dinningrooms_path %>