<h1>Listing livingrooms</h1>

<table>
  <tr>
    <th>Room</th>
  </tr>

<% @livingrooms.each do |livingroom| %>
  <tr>
    <td><%=h livingroom.room_id %></td>
    <td><%= link_to 'Show', livingroom %></td>
    <td><%= link_to 'Edit', edit_livingroom_path(livingroom) %></td>
    <td><%= link_to 'Destroy', livingroom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New livingroom', new_livingroom_path %>