<h1>Listing hebergements</h1>

<table>
  <tr>
    <th>Hebergement</th>
    <th>Offre</th>
  </tr>

<% @hebergements.each do |hebergement| %>
  <tr>
    <td><%=h hebergement.hebergement_id %></td>
    <td><%=h hebergement.offre_id %></td>
    <td><%= link_to 'Show', hebergement %></td>
    <td><%= link_to 'Edit', edit_hebergement_path(hebergement) %></td>
    <td><%= link_to 'Destroy', hebergement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hebergement', new_hebergement_path %>