<h1>New hebergement</h1>

<% form_for(@hebergement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hebergement_id %><br />
    <%= f.text_field :hebergement_id %>
  </p>
  <p>
    <%= f.label :offre_id %><br />
    <%= f.text_field :offre_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', hebergements_path %>