<% title t('member.service.add.title') %>
<h2><%= t('member.service.add.title') %></h2>

<div id="content_member_left">
  <h3 class="blue-sky"><%= t('member.service.add.step2_gite') %></h3>
  <% form_for member_housing_path(:id => @housing, :locale => I18n.locale) do |f| %>
    <%= f.error_messages %>
    <% @comforts.each do |comfort| %>
      <%= f.check_box :service, comfort.id %>
    <% end %>
    <p><%= f.submit t('member.service.add.create_go_step4') %></p>
  <% end %>
</div>

<div id="content_member_right">
  <%= render :partial => 'member/users/right_column' %>
</div>
