<p>
  <b>Url:</b>
  <%=h @picture.url %>
</p>

<p>
  <b>Path:</b>
  <%=h @picture.path %>
</p>

<p>
  <b>Order:</b>
  <%=h @picture.order %>
</p>

<p>
  <b>Is default:</b>
  <%=h @picture.is_default %>
</p>

<p>
  <b>Is visible:</b>
  <%=h @picture.is_visible %>
</p>

<p>
  <b>Is validated:</b>
  <%=h @picture.is_validated %>
</p>

<p>
  <b>Date validated:</b>
  <%=h @picture.date_validated %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>