<p>
  <b>Offer:</b>
  <%=h @offer_price.offer_id %>
</p>

<p>
  <b>Price:</b>
  <%=h @offer_price.price %>
</p>

<p>
  <b>Season:</b>
  <%=h @offer_price.season %>
</p>


<%= link_to 'Edit', edit_offer_price_path(@offer_price) %> |
<%= link_to 'Back', offer_prices_path %>