<h1>Editing message_usergroup</h1>

<% form_for(@message_usergroup) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @message_usergroup %> |
<%= link_to 'Back', message_usergroups_path %>