<h1>Listing messages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Message usergroup</th>
    <th>Parent message</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Is sent</th>
    <th>Is new</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.user_id %></td>
    <td><%=h message.message_usergroup_id %></td>
    <td><%=h message.parent_message %></td>
    <td><%=h message.subject %></td>
    <td><%=h message.body %></td>
    <td><%=h message.is_sent %></td>
    <td><%=h message.is_new %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>