<h1>New user</h1>

<%= form_for([get_module_name, @user]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :phone_contact %><br />
    <%= f.text_field :phone_contact %>
  </p>
  <p>
    <%= f.label :phone_fax %><br />
    <%= f.text_field :phone_fax %>
  </p>
  <p>
    <%= f.label :phone_mobile %><br />
    <%= f.text_field :phone_mobile %>
  </p>
  <p>
    <%= f.label :phone_pro %><br />
    <%= f.text_field :phone_pro %>
  </p>
  <p>
    <%= f.label :phone_home %><br />
    <%= f.text_field :phone_home %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :has_subscribed %><br />
    <%= f.check_box :has_subscribed %>
  </p>
  <p>
    <%= f.label :firstday_week %><br />
    <%= f.text_field :firstday_week %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', get_module_path("%_cusers") %>