<h1>Editing calendar</h1>

<% form_for(@calendar) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :offer_id %><br />
    <%= f.text_field :offer_id %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.label :availability_type %><br />
    <%= f.text_field :availability_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @calendar %> |
<%= link_to 'Back', calendars_path %>