<%= form_for :room, :remote => true, :url => member_rooms_path, :update => "rooms_list", :position => :bottom do |f| %>
  <%= f.hidden_field :housing_id, :value => params[:housing_id] %>

  <div id="line_add_room">
    <p>
      <%= t('member.room.add_room') %>&nbsp;
      <%= f.select :room_type, list_room_type, { :include_blank => true } %>
      <span style="float:right;"><%= f.submit t('member.room.add.submit') %></span>
    </p>
  </div>
<% end %>
