<% @room = room if defined?(room) %>
<div id="form_line_room_<%= @room.id %>">
  <% form_remote_for :bedroom, :url => member_room_bedrooms_path(:room_id => @room), :update => "form_line_room_#{@room.id}" do |f| %>
    <%= f.hidden_field :room_id, :value => @room.id %>
  
    <div class="line_room" id="line_room_<%= @room.id %>">
      <div class="col_room_type">
        <%= t("member.room.rooms_type.#{@room.room_type}") %>
      </div>
      <div style="float:right;">
        <%= f.submit t('member.bedroom.add.submit') %>
      </div>
      <div class="col_room_offers">
        <%= f.select :beds_simple_quantity, options_for_select(0..10) %>
        <%= f.label :beds_simple_quantity, t('member.bedroom.bedrooms_type.beds_simple') %><br />
        <%= f.select :beds_double_quantity, options_for_select(0..10) %>
        <%= f.label :beds_double_quantity, t('member.bedroom.bedrooms_type.beds_double') %><br />
        <%= f.select :beds_bunk_quantity, options_for_select(0..10) %>
        <%= f.label :beds_bunk_quantity, t('member.bedroom.bedrooms_type.beds_bunk') %><br />
        <%= f.select :beds_cott_quantity, options_for_select(0..10) %>
        <%= f.label :beds_cott_quantity, t('member.bedroom.bedrooms_type.beds_cott') %><br />
        <%= f.check_box :has_shared_bathroom %>
        <%= f.label :has_shared_bathroom, t('member.bedroom.has_shared_bathroom') %><br />
        <%= f.check_box :has_shared_toilets %>
        <%= f.label :has_shared_toilets, t('member.bedroom.has_shared_toilets') %><br />
      </div>
    </div>
  <% end %>
</div>
