<% @room = room if defined?(room) %>
<div id="form_line_room_<%= @room.id %>">
  <% form_remote_for :livingroom, :url => member_room_livingrooms_path(:room_id => @room), :update => "form_line_room_#{@room.id}" do |f| %>
    <%= f.hidden_field :room_id, :value => @room.id %>
  
    <div class="line_room" id="line_room_<%= @room.id %>">
      <div class="col_room_type">
        <%= t("member.room.rooms_type.#{@room.room_type}") %>
      </div>
      <div style="float:right;">
        <%= f.submit t('member.livingroom.add.submit') %>
      </div>
      <div class="col_room_offers">
        <%= t("member.livingroom.livingroom") %>
      </div>
    </div>
  <% end %>
</div>