<% @room = room if defined?(room) %>
<div id="form_line_room_<%= @room.id %>" class="line_room_form">
  <%= form_for :kitchen, :url => member_room_kitchens_path(:room_id => @room), :remote => true, :update => "form_line_room_#{@room.id}" do |f| %>
    <%= f.hidden_field :room_id, :value => @room.id %>
  
    <div class="line_room" id="line_room_<%= @room.id %>">
      <div class="col_room_type">
        <strong><%= t("member.room.rooms_type.#{@room.room_type}") %></strong>
      </div>
      <div style="float:right;">
        <%= f.submit t('member.kitchen.add.submit') %>
      </div>
      <div class="col_room_offers">
        <%= f.label :kitchen_type, t('member.kitchen.kitchen_type') %><br />
        <%= f.select :kitchen_type, list_kitchen_type %>
      </div>
    </div>
  <% end %>
</div>