<% title t('member.room.add.title') %>
<h2><%= t('member.room.add.title') %></h2>

<div id="content_member_left">
  <h3 class="blue-sky"><%= t('member.room.add.step2_gite') %></h3>
  
  <h3 class="blue-bottom-bar"><%= t('member.housing.add_rooms') %></h3>
  
  <div id="rooms_list_titles">
    <div class="col_room_type"><%= t('member.room.room_type') %></div>
    <div class="col_room_offers"><%= t('member.room.room_type') %></div>
    <div class="col_room_submit"></div>
  </div>
  
  <div id="rooms_list">
    <%= render @rooms %>
  </div>

  <%= render :partial => "form", :locals => { :room => Room.new } %>
  
  <div id="submit_go_next_step">
    <%#= link_to t('member.room.add.create_go_step3'), { :controller => :housings, :locale => I18n.locale, :id => params[:housing_id], :action => :add_services }, :title => t('member.room.add.create_go_step3') %>
  </div>
</div>

<div id="content_member_right">
  <%= render :partial => 'member/users/right_column' %>
</div>
