<div id="gmap" style="width: <%= width %>px;height: <%= height %>px;"></div><!-- #gmap -->
<% content_for :additional_js_bottom do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=#{I18n.locale}" %>
  <!--//#&key=ABQIAAAAlElFxz29181IhLSoFhgbWxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSSXvmjx5BLsolNvzIE7TfFoNTGwg//-->
  <%= javascript_include_tag 'google/maps/fluster2/Fluster2.packed' %>
  <%= javascript_include_tag 'google/maps/labeled_marker/markerwithlabel_packed' %>
  <%= javascript_include_tag 'google/maps/googlemap' %>
  <%= javascript_tag do %>
    document.observe("dom:loaded", function(){
      loadMap('<%= get_module_path('search_%_housings') %>', '<%= gmap_search_params %>');
    })
  <% end %>
<% end %>