<h1>Editing bedroom</h1>

<% form_for(@bedroom) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :room_id %><br />
    <%= f.text_field :room_id %>
  </p>
  <p>
    <%= f.label :beds_simple_quantity %><br />
    <%= f.text_field :beds_simple_quantity %>
  </p>
  <p>
    <%= f.label :beds_double_quantity %><br />
    <%= f.text_field :beds_double_quantity %>
  </p>
  <p>
    <%= f.label :beds_bunk_quantity %><br />
    <%= f.text_field :beds_bunk_quantity %>
  </p>
  <p>
    <%= f.label :beds_cott_quantity %><br />
    <%= f.text_field :beds_cott_quantity %>
  </p>
  <p>
    <%= f.label :has_shared_bathroom %><br />
    <%= f.check_box :has_shared_bathroom %>
  </p>
  <p>
    <%= f.label :has_shared_toilets %><br />
    <%= f.check_box :has_shared_toilets %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bedroom %> |
<%= link_to 'Back', bedrooms_path %>