<h1>Listing bedrooms</h1>

<table>
  <tr>
    <th>Room</th>
    <th>Beds simple quantity</th>
    <th>Beds double quantity</th>
    <th>Beds bunk quantity</th>
    <th>Beds cott quantity</th>
    <th>Has shared bathroom</th>
    <th>Has shared toilets</th>
    <th>Name</th>
  </tr>

<% @bedrooms.each do |bedroom| %>
  <tr>
    <td><%=h bedroom.room_id %></td>
    <td><%=h bedroom.beds_simple_quantity %></td>
    <td><%=h bedroom.beds_double_quantity %></td>
    <td><%=h bedroom.beds_bunk_quantity %></td>
    <td><%=h bedroom.beds_cott_quantity %></td>
    <td><%=h bedroom.has_shared_bathroom %></td>
    <td><%=h bedroom.has_shared_toilets %></td>
    <td><%=h bedroom.name %></td>
    <td><%= link_to 'Show', bedroom %></td>
    <td><%= link_to 'Edit', edit_bedroom_path(bedroom) %></td>
    <td><%= link_to 'Destroy', bedroom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bedroom', new_bedroom_path %>