<h1>Listing bathrooms</h1>

<table>
  <tr>
    <th>Room</th>
    <th>Has bath</th>
    <th>Has toilets</th>
    <th>Has shower</th>
  </tr>

<% @bathrooms.each do |bathroom| %>
  <tr>
    <td><%=h bathroom.room_id %></td>
    <td><%=h bathroom.has_bath %></td>
    <td><%=h bathroom.has_toilets %></td>
    <td><%=h bathroom.has_shower %></td>
    <td><%= link_to 'Show', bathroom %></td>
    <td><%= link_to 'Edit', edit_bathroom_path(bathroom) %></td>
    <td><%= link_to 'Destroy', bathroom, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bathroom', new_bathroom_path %>