<h1>Editing annonce</h1>

<% form_for(@annonce) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :is_validated %><br />
    <%= f.check_box :is_validated %>
  </p>
  <p>
    <%= f.label :hebergement_id %><br />
    <%= f.text_field :hebergement_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @annonce %> |
<%= link_to 'Back', annonces_path %>