<p>
  <b>Reference:</b>
  <%=h @annonce.reference %>
</p>

<p>
  <b>Title:</b>
  <%=h @annonce.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @annonce.description %>
</p>

<p>
  <b>Is validated:</b>
  <%=h @annonce.is_validated %>
</p>

<p>
  <b>Hebergement:</b>
  <%=h @annonce.hebergement_id %>
</p>


<%= link_to 'Edit', edit_annonce_path(@annonce) %> |
<%= link_to 'Back', annonces_path %>