<h1>Listing housings</h1>

<table>
  <tr>
    <th>Hebergement</th>
    <th>Address</th>
    <th>User</th>
    <th>Phone contact</th>
    <th>Email</th>
    <th>Website</th>
    <th>Name</th>
    <th>Is visible</th>
    <th>Type</th>
    <th>Url alias</th>
    <th>Distance commerce</th>
    <th>Distance train</th>
    <th>Distance transport</th>
    <th>Gmap latitude</th>
    <th>Gmap longitude</th>
  </tr>

<% @housings.each do |housing| %>
  <tr>
    <td><%=h housing.hebergement_id %></td>
    <td><%=h housing.address_id %></td>
    <td><%=h housing.user_id %></td>
    <td><%=h housing.phone_contact %></td>
    <td><%=h housing.email %></td>
    <td><%=h housing.website %></td>
    <td><%=h housing.name %></td>
    <td><%=h housing.is_visible %></td>
    <td><%=h housing.type %></td>
    <td><%=h housing.url_alias %></td>
    <td><%=h housing.distance_commerce %></td>
    <td><%=h housing.distance_train %></td>
    <td><%=h housing.distance_transport %></td>
    <td><%=h housing.gmap_latitude %></td>
    <td><%=h housing.gmap_longitude %></td>
    <td><%= link_to 'Show', housing %></td>
    <td><%= link_to 'Edit', edit_housing_path(housing) %></td>
    <td><%= link_to 'Destroy', housing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New housing', new_housing_path %>