<h1>New ad</h1>

<% form_for @ad, :url => new_client_ad_path do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :is_validated %><br />
    <%= f.check_box :is_validated %>
  </p>
  <p>
    <%= f.label :housing_id %><br />
    <%= f.text_field :housing_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', client_ads_path %>