<p>
  <b><%= t("ads.title") %></b>
  <%=h @ad.reference %>
</p>

<p>
  <b>Title:</b>
  <%=h @ad.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @ad.description %>
</p>

<p>
  <b>Is validated:</b>
  <%=h @ad.is_validated %>
</p>


<%= link_to 'Edit', edit_client_ad_path %> |
<%= link_to 'Back', client_ads_path %>