<p>
  <b><%= t("ads.title") %></b>
  <%=h @ad.reference %>
</p>

<p>
  <b>Title:</b>
  <%=h @ad.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @ad.description %>
</p>

<p>
  <b>Is validated:</b>
  <%=h @ad.is_validated %>
</p>


<%= link_to 'Edit', get_module_path("edit_%_ad", @ad) %> |
<%= link_to 'Back', get_module_path("%_ads") %>