<h1>Editing livingroom</h1>

<% form_for(@livingroom) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :room_id %><br />
    <%= f.text_field :room_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @livingroom %> |
<%= link_to 'Back', livingrooms_path %>