<h1>Listing offres</h1>

<table>
  <tr>
    <th>Hebergement</th>
    <th>Address</th>
    <th>User</th>
    <th>Phone contact</th>
    <th>Email</th>
    <th>Website</th>
    <th>Name</th>
    <th>Is visible</th>
    <th>Type</th>
    <th>Url alias</th>
    <th>Distance commerce</th>
    <th>Distance train</th>
    <th>Distance transport</th>
    <th>Gmap latitude</th>
    <th>Gmap longitude</th>
  </tr>

<% @offres.each do |offre| %>
  <tr>
    <td><%=h offre.hebergement_id %></td>
    <td><%=h offre.address_id %></td>
    <td><%=h offre.user_id %></td>
    <td><%=h offre.phone_contact %></td>
    <td><%=h offre.email %></td>
    <td><%=h offre.website %></td>
    <td><%=h offre.name %></td>
    <td><%=h offre.is_visible %></td>
    <td><%=h offre.type %></td>
    <td><%=h offre.url_alias %></td>
    <td><%=h offre.distance_commerce %></td>
    <td><%=h offre.distance_train %></td>
    <td><%=h offre.distance_transport %></td>
    <td><%=h offre.gmap_latitude %></td>
    <td><%=h offre.gmap_longitude %></td>
    <td><%= link_to 'Show', offre %></td>
    <td><%= link_to 'Edit', edit_offre_path(offre) %></td>
    <td><%= link_to 'Destroy', offre, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offre', new_offre_path %>