<h1>Listing users</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Gender</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone contact</th>
    <th>Phone fax</th>
    <th>Phone mobile</th>
    <th>Phone pro</th>
    <th>Phone home</th>
    <th>Role</th>
    <th>Is active</th>
    <th>Language</th>
    <th>Has subscribed</th>
    <th>Firstday week</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.full_name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.password %></td>
    <td><%=h user.gender %></td>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.phone_contact %></td>
    <td><%=h user.phone_fax %></td>
    <td><%=h user.phone_mobile %></td>
    <td><%=h user.phone_pro %></td>
    <td><%=h user.phone_home %></td>
    <td><%=h user.role %></td>
    <td><%=h user.is_active %></td>
    <td><%=h user.language %></td>
    <td><%=h user.has_subscribed %></td>
    <td><%=h user.firstday_week %></td>
    <td><%= link_to 'Show', get_module_path("%_auser_", user) %></td>
    <td><%= link_to 'Edit', get_module_path("edit_%_auser", user) %></td>
    <td><%= link_to 'Destroy', get_module_path("%_auser", user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', get_module_path("new_%_auser") %>