<h1>Listing housing_pictures</h1>

<table>
  <tr>
    <th>Housing</th>
    <th>Picture</th>
  </tr>

<% @housing_pictures.each do |housing_picture| %>
  <tr>
    <td><%=h housing_picture.housing_id %></td>
    <td><%=h housing_picture.picture_id %></td>
    <td><%= link_to 'Show', housing_picture %></td>
    <td><%= link_to 'Edit', edit_housing_picture_path(housing_picture) %></td>
    <td><%= link_to 'Destroy', housing_picture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New housing_picture', new_housing_picture_path %>