<h1>New housing_picture</h1>

<% form_for(@housing_picture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :housing_id %><br />
    <%= f.text_field :housing_id %>
  </p>
  <p>
    <%= f.label :picture_id %><br />
    <%= f.text_field :picture_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', housing_pictures_path %>