<div id="content_member_left">
  <h3 class="blue-bottom-bar" style="margin-top:0;"><%= t('members.users.profile.your_news') %></h3>
  <h3 class="blue-bottom-bar"><%= t('members.users.profile.personnal_infos') %></h3>
  <h3 class="blue-bottom-bar"><%= t('members.users.profile.define_offers') %></h3>
</div>

<div id="content_member_right">
  <h3 class="grey-bg"><%= t('members.users.profile.validate_reservations') %></h3>
  <h3 class="grey-bg"><%= t('members.users.profile.your_emails') %></h3>
  <h3 class="grey-bg"><%= t('members.users.profile.your_rent') %></h3>
</div>
