<h3 class="blue-bottom-bar"><%= t('member.housing.edit_housing_distances') %></h3>
<p class="p-text_field">
  <%= f.label :distance_commerce, t('member.housing.distance_commerce') %>
  <%= f.select :distance_commerce, list_housing_distances %>
</p>
<p class="p-text_field">
  <%= f.label :distance_train, t('member.housing.distance_train') %>
  <%= f.select :distance_train, list_housing_distances %>
</p>
<p class="p-text_field">
  <%= f.label :distance_transport, t('member.housing.distance_transport') %>
  <%= f.select :distance_transport, list_housing_distances %>
</p>

<h3 class="blue-bottom-bar"><%= t('member.housing.add_housing_pois') %></h3>
<div id="housing_pois_list_titles">
  <div class="col_housing_poi_type"><%= t('member.housing_poi.name') %></div>
  <div class="col_housing_poi_offers"><%= t('member.housing_poi.distance') %></div>
  <div class="col_housing_poi_submit"></div>
</div>