<%= form_for [get_module_name, @housing] do |f| %>
  <%= f.error_messages %>

  <h3 class="blue-bottom-bar" style="margin-top: 40px;"><%= t('member.housing.edit_housing_distances') %></h3>
  <p class="p-text_field">
    <%= f.label :distance_commerce, t('member.housing.distance_commerce') %>
    <%= f.select :distance_commerce, list_housing_distances %>
  </p>
  <p class="p-text_field">
    <%= f.label :distance_train, t('member.housing.distance_train') %>
    <%= f.select :distance_train, list_housing_distances %>
  </p>
  <p class="p-text_field">
    <%= f.label :distance_transport, t('member.housing.distance_transport') %>
    <%= f.select :distance_transport, list_housing_distances %>
  </p>

  <div id="submit_go_next_step_button">
    <%= f.submit t('member.housing.add.create_go_step5') %>
  </div>
<% end %>

