<%= form_for Picture.new, :as => :picture, :url => member_pictures_path, :html => { :multipart => true }, :remote => true do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
