<h3 class="blue-bottom-bar"><%= t('member.housing.infos_housing') %></h3>
<%= f.hidden_field :user_id, :value => current_user.id %>
<p class="p-text_field">
  <%= f.label :name, t('member.housing.name') %>
  <%= f.text_field :name %>
</p>
<p class="p-text_field">
  <%= f.label :phone_contact, t('member.housing.phone_to_contact') %>
  <%= f.text_field :phone_contact %>
</p>
<p class="p-text_field">
  <%= f.label :email, t('member.housing.email_to_contact') %>
  <%= f.text_field :email %>
</p>
<p class="p-text_field">
  <%= f.label :website, t('member.housing.website') %>
  <%= f.text_field :website %>
</p>
<p class="p-text_field">
  <%= f.label :url_alias, t('member.housing.url_alias') %>
  <%= f.text_field :url_alias %>
</p>

<h3 class="blue-bottom-bar"><%= t('member.housing.infos_housing') %></h3>
<p><%= t('member.housing.type.housing_type') %></p>
<p class="p-radio-type">
  <%= f.radio_button :housing_type, :house_alone %>
  <%= f.label :housing_type_house_alone, t('member.housing.type.house_alone') %>
  
  <%= f.radio_button :housing_type, :house_tween %>
  <%= f.label :housing_type_house_tween, t('member.housing.type.house_tween') %>
  
  <%= f.radio_button :housing_type, :flat %>
  <%= f.label :housing_type_flat, t('member.housing.type.flat') %>
  
  <%= f.radio_button :housing_type, :bungalo %>
  <%= f.label :housing_type_bungalo, t('member.housing.type.bungalo') %>
</p>
<p>
  <%= f.radio_button :housing_type, :other %>
  <%= f.label :housing_type_other, t('member.housing.type.other') %>&nbsp;
  <%= f.text_field :housing_type %>
</p>


<p class="p-text_field">
  <%= f.label :distance_commerce, t('member.housing.distance_commerce') %>
  <%= f.text_field :distance_commerce %>
</p>
<p class="p-text_field">
  <%= f.label :distance_train, t('member.housing.distance_train') %>
  <%= f.text_field :distance_train %>
</p>
<p class="p-text_field">
  <%= f.label :distance_transport, t('member.housing.distance_transport') %>
  <%= f.text_field :distance_transport %>
</p>