<% title t('member.housing.title') %>
<h2><%= t('member.housing.title') %></h2>

<h3 class="blue-sky"><%= t('member.housing.step1_gite') %></h3>

<% form_for(:member, @housing) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form_addresses", :locals => {:f => f } %> 

  <h3 class="blue-bottom-bar"><%= t('member.housing.address') %></h3>
  <p class="p-form">
    <%= f.label :phone_contact %>
    <%= f.text_field :phone_contact %>
  </p>
  <p class="p-form">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class="p-form">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </p>
  <p class="p-form">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p class="p-form">
    <%= f.label :is_visible %>
    <%= f.text_field :is_visible %>
  </p>
  <p class="p-form">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </p>
  <p class="p-form">
    <%= f.label :url_alias %>
    <%= f.text_field :url_alias %>
  </p>
  <p class="p-form">
    <%= f.label :distance_commerce %>
    <%= f.text_field :distance_commerce %>
  </p>
  <p class="p-form">
    <%= f.label :distance_train %>
    <%= f.text_field :distance_train %>
  </p>
  <p class="p-form">
    <%= f.label :distance_transport %>
    <%= f.text_field :distance_transport %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', member_housings_path %>