<h3 class="blue-bottom-bar"><%= t('member.housing.add_rooms') %></h3>

<% form_remote_for :room, :url => member_rooms_path, :update => "rooms_list", :position => :bottom do |room_form| %>
  <div id="rooms_list_titles">
    <div class="col_room_nb">
      &nbsp;
    </div>
    <div class="col_room_type">
      <%= room_form.label :type, t('member.room.room_type') %>
    </div>
    <div class="col_room_offers">
      <%= t('member.room.room_type') %>
    </div>
    <div class="col_submit">
    </div>
  </div>
  
  <div id="rooms_list">
  </div>

  <div id="line_add_room">
    <p><%= t('member.room.add_room') %></p>
    <div class="col_room_nb">
      &nbsp;
    </div>
    <div class="col_room_type">
      <%= room_form.select :room_type, list_room_type, { :include_blank => true } %>
    </div>
    <div class="col_room_offers">
      dans subject_list
    </div>
    <div class="col_submit">
      <%= room_form.submit t('member.room.add.submit') %>
    </div>
  </div>
<% end %>