<% title t('member.service.add.title') + ' ' + @housing.name %>
<h1 id="page_title"><%= t('member.service.add.title') + ' ' + @housing.name %></h1>

<div id="content_member_left">
  <h2><%= t('member.service.add.step3_gite') %></h2>

  <%= form_for [get_module_name, @housing] do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :go_to, :value => { :controller => 'member/housings', :action => 'add_housing_pois', :id => params[:id] } %>

    <%= render :partial => 'form_add_services', :locals => { :f => f, :services => @comforts } if @comforts.size > 0 %>
    <%= render :partial => 'form_add_services', :locals => { :f => f, :services => @assets } if @assets.size > 0 %>
    <%= render :partial => 'form_add_services', :locals => { :f => f, :services => @activities } if @activities.size > 0 %>

    <div id="submit_go_next_step_button">
      <p><%= f.submit t('member.service.add.create_go_step4') %></p>
    </div>
  <% end %>
</div>

<div id="content_member_right">
  <%= render :partial => "#{get_module_name}/users/right_column" %>
</div>
