<% title t('member.housing_poi.add.title') %>
<h1 id="page_title"><%= t('member.housing_poi.add.title') %></h1>

<div id="content_member_left">
  <h2><%= t('member.housing.add.step4_gite') %></h2>

  <h3><%= t('member.housing.add_housing_pois') %></h3>
  <div id="housing_pois_list_titles">
    <div class="col_housing_poi_name"><%= t('member.housing_poi.name') %></div>
    <div class="col_housing_poi_distance"><%= t('member.housing_poi.distance') %></div>
    <div class="col_housing_poi_submit"></div>
  </div>
  <div id="housing_pois_list">
    <%= render @housing_pois %>
  </div>
  <%= render :partial => "form_housing_pois" %>

  <%#= render :partial => "form_housing_distances" %>

  <div id="submit_go_next_step">
    <%= link_to t('member.housing.add.create_go_step5'), new_member_housing_picture_path(params[:id]), :title => t('member.housing.add.create_go_step5') %>
  </div>
</div>

<div id="content_member_right">
  <%= render :partial => "#{get_module_name}/users/right_column" %>
</div>
