<% title t('member.housing.add.title') + ' ' + @housing.name %>
<h1 id="page_title"><%= t('member.housing.add.title') + ' ' + @housing.name %></h1>

<div id="content_member_left">
  <h2><%= t('member.housing.add.step4_gite') %></h2>

  <h2><%= t('member.housing.add_housing_pois') %></h2>
  <ul id="pictures_list">
    <%= render @housing.pictures %>
  </ul>
  <%= render :partial => "form_pictures" %>
</div>

<div id="content_member_right">
  <%= render :partial => "#{get_module_name}/users/right_column" %>
</div>
