<% title t('member.housing.edit.title') + ' ' + @housing.name, true %>
<h2><%= t('member.housing.edit.title') + ' ' + @housing.name %></h2>

<div id="content_member_left">
  <% form_for [:member, @housing], :url => member_housing_path() do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form_addresses", :locals => { :f => f } %> 
    <%= render :partial => "form_fields", :locals => { :f => f } %> 
    <p><%= f.submit t('member.housing.edit.submit') %></p>
  <% end %>
</div>

<div id="content_member_right">
  <%= render :partial => 'member/users/right_column' %>
</div>
