<p>
  <b>Address:</b>
  <%= @housing.address_id %>
</p>

<p>
  <b>User:</b>
  <%= @housing.user_id %>
</p>

<p>
  <b>Phone contact:</b>
  <%= @housing.phone_contact %>
</p>

<p>
  <b>Email:</b>
  <%= @housing.email %>
</p>

<p>
  <b>Website:</b>
  <%= @housing.website %>
</p>

<p>
  <b>Name:</b>
  <%= @housing.name %>
</p>

<p>
  <b>Is visible:</b>
  <%= @housing.is_visible %>
</p>

<p>
  <b>Type:</b>
  <%= @housing.housing_type %>
</p>

<p>
  <b>Url alias:</b>
  <%= @housing.url_alias %>
</p>

<p>
  <b>Distance commerce:</b>
  <%= @housing.distance_commerce %>
</p>

<p>
  <b>Distance train:</b>
  <%= @housing.distance_train %>
</p>

<p>
  <b>Distance transport:</b>
  <%= @housing.distance_transport %>
</p>

<%= link_to 'Nouvelle annonce pour cet housing', get_module_path("new_%_housing_ad", @housing) %>

<%= link_to 'Edit', get_module_path("edit_%_housing", @housing) %> |
<%= link_to 'Back', get_module_path("%_housings") %>