<% title @housing.name %>

<div id="content_member_left">
  <h2><%= @housing.name %></h2>

  <div id="housing_show_addr">
    <%= "<span>#{t('member.housing.city')+t('2p')}</span> #{@housing.address.city}<br />".html_safe if @housing.address.city %>
    <%= "<span>#{t('member.housing.country')+t('2p')}</span> #{@housing.address.country}<br />".html_safe if @housing.address.country %>
    <%= "<span>#{t('member.housing.state_province_country')+t('2p')}</span> #{@housing.address.state_province_country}<br />".html_safe if @housing.address.state_province_country %>
    <%= "<span>#{t('member.housing.phone_to_contact')+t('2p')}</span> #{@housing.phone_contact}<br />".html_safe if @housing.phone_contact %>
    <%= "<span>#{t('member.housing.email_to_contact')+t('2p')}</span> #{mail_to @housing.email}<br />".html_safe if @housing.email %>
    <%= "<span>#{t('member.housing.website')+t('2p')}</span> #{link_to @housing.website, @housing.website, :target => '_blank'}<br />".html_safe if @housing.email %>
  </div>

  <div style="border: 1px solid grey; height: 300px; width: 600px; margin: 20px 0; background-color: #F9F9F9; font-size: 3em; text-align: center;">
    GALLERIE PHOTOS
  </div>

  <h3><%= t('member.housing.the_housing')+t('2p') %></h3>
  <p><%= @housing.name %></p>

  <h3><%= t('member.housing.housing_assets')+t('2p') %></h3>
  <% @housing.services.where(:service_type => 'asset').join %>
  <p></p>

  <h3><%= t('member.housing.housing_activities')+t('2p') %></h3>
  <% @housing.services.where(:service_type => 'activity').join %>
  <p></p>

  <h3><%= t('member.housing.housing_activities')+t('2p') %></h3>
  <p><% @housing.services.where(:service_type => 'comfort').join %></p>

  <%= link_to 'Nouvelle annonce pour cet housing', get_module_path("new_%_housing_ad", @housing) %> |
  <%= link_to 'Edit', get_module_path("edit_%_housing", @housing) %>

</div>

<div id="content_member_right">
  <h3><%= t('member.housing.near')+t('2p') %></h3>
  <div id="housing_show_pois">
    <%= "<span>#{t('member.housing.commerce')+t('2p')}</span>#{t("member.housing.housing_distances.#{@housing.distance_commerce}")}<br />".html_safe if @housing.distance_commerce %>
    <%= "<span>#{t('member.housing.transport')+t('2p')}</span>#{t("member.housing.housing_distances.#{@housing.distance_transport}")}<br />".html_safe if @housing.distance_transport %>
    <%= "<span>#{t('member.housing.train')+t('2p')}</span>#{t("member.housing.housing_distances.#{@housing.distance_train}")}<br />".html_safe if @housing.distance_train %>
    <br />
    <% @housing.housing_pois.each do |housing_poi| %>
      <%= "<strong>#{housing_poi.name}</strong>#{t('2p')}#{housing_poi.distance.to_s}".html_safe %>km<br />
    <% end  %>
  </div>
</div>
